table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
input[type="text"] {
  /* width: 100%; 부모 컨테이너의 너비에 맞게 설정 */
  padding: 6px 8px; /* 여백 조정 */
  border: 2px solid #333; /* 기본 테두리 색상 */
  border-radius: 8px; /* 둥근 모서리 */
  font-size: 18px; /* 폰트 크기 */
  font-family: "Noto Sans", sans-serif; /* 폰트 변경 */
  color: black; /* 글자 색상 */
  background-color: white; /* 배경 색상 */
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 효과 */
}

input[type="text"]:focus {
  border-color: #007bff; /* 포커스 시 테두리 색상 */
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.2); /* 포커스 시 그림자 */
  outline: none; /* 기본 포커스 테두리 제거 */
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
