<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/vue.min.js"></script>
    <script src="/scripts/axios.min.js"></script>
    <script src="/scripts/jquery.js"></script>
    <link rel="stylesheet" href="/css/mainCss.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button @click="fnMovePage('/board-list.do')">게시판</button>
      <button @click="fnMovePage('/login.do')">로그인</button>
      <button @click="fnMovePage('/join.do')">회원가입</button>
      <button @click="fnMovePage('/user-list.do')">유저리스트</button>
    </div>
  </body>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          name: "app",
        };
      },
      methods: {
        fnMovePage(page) {
          location.href = page;
        },
      },
      mounted() {},
    });
    app.mount("#app");
  </script>
</html>
