<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/vue.min.js"></script>
    <script src="/scripts/axios.min.js"></script>
    <script src="/scripts/jquery.js"></script>
    <link rel="stylesheet" href="/css/mainCss.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <select v-model="category">
        <option value="all">통합검색</option>
        <option value="userId">아이디</option>
        <option value="email">이메일</option>
        <option value="userName">이름</option>
      </select>
      <input type="text" v-model="keyword" />
      <button @click="fnGetUserList">검색</button>
      <table>
        <tr>
          <th>아이디</th>
          <th>이름</th>
          <th>이메일</th>
          <th>삭제</th>
        </tr>
        <tr v-for="(item, index) in userList" :key="index">
          <td>{{item.userId}}</td>
          <td>{{item.userName}}</td>
          <td>{{item.email}}</td>
          <td><button @click="fnDelete(item.userId)">삭제</button></td>
        </tr>
      </table>
    </div>
  </body>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          name: "app",
          keyword: "",
          category: "all",
          userList: [],
        };
      },
      methods: {
        fnDelete(userId) {},
        async fnGetUserList() {
          const url = "getUserList.dox";
          const form = {
            keyword: this.keyword,
            category: this.category,
          };
          console.log(form);
          const response = await axios.post(url, form);
          if (response.data.result == "success") {
            this.userList = response.data.userList;
          } else {
            alert("db서버 오류");
          }
        },
      },
      mounted() {
        this.fnGetUserList();
      },
    });
    app.mount("#app");
  </script>
</html>
